:root {
    --accent-color: #FCA311;
    --bg-light: #E5E5E5;
    --text-dark: #000000;
}

body {
    background-color: var(--bg-light);
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Colore Personalizzato Brand */
.btn-brand {
    background-color: var(--accent-color);
    color: var(--text-dark);
    border: 2px solid var(--accent-color); 
    font-weight: 500;
}

.btn-brand:hover {
    background-color: #e5940f;
}

/* Navbar */
.nav-link:hover {
    color: var(--accent-color) !important;
}

.navbar-brand {
    position: relative;
    text-decoration: none;
}

.navbar-brand {
    position: relative;
    text-decoration: none;
}

.navbar-brand {
    text-decoration: none;
    background: linear-gradient(currentColor, currentColor) no-repeat bottom center;
    background-size: 0% 2px;
    transition: background-size 0.3s ease;
}

.navbar-brand:hover {
    background-size: 100% 2px;
}

/* Barra di ricerca */
.search-wrap {
    background: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 0.75rem;
    padding: 8px 10px 8px 22px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
    transition: all 0.3s ease;
    cursor: pointer;
}

.search-wrap:hover {
    box-shadow: 0 0 0 3px rgba(229, 148, 15, 0.25);
    border-color: var(--accent-color);
    outline: 0;
}

.search-wrap input {
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
    width: 100%;
}

/* Dropdown */
.dropdown-item:active,
.dropdown-item.active {
    background-color: var(--bg-light) !important;
    color: var(--bg-white) !important;
}

/* Cards & Effetti */
.search-result-card {
    border-radius: 0.75rem;
}

.card-hover { 
    transition: transform 0.2s, box-shadow 0.2s; 
}

.card-hover:hover { 
    transform: translateY(-4px); 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.12); 
}
